.platlist-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 0;
}

.platlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.platlist-item__image {
  height: 200px;
  width: 400px;
  margin: 0px 20px 0px 0px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.platlist-item__evailaible {
  position: absolute;
  top: 25px;
  right: -60px;
  background-color: #83027d;
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
  transform: rotate(45deg);
  width: 180px;
  display: flex;
  justify-content: center;
}

.platlist-item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.platlist-item__details {
  flex: 1;
}

.platlist-item__details button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #d81600;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.6s ease;
}

.platlist-item__details button:hover {
  background-color: #9b1202;
}

.platlist-item__details h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.platlist-item__details span {
  padding: 10px 0px;
  display: flex;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
}

.platlist-item__details p {
  font-size: 0.9rem;
  color: #747474;
}
